/* 
@media only screen and (max-width: 992px)  {
    .ul {
        max-width: 100%;
        height: auto;
        max-width: 1440px; 
        margin: 0 auto;
    }
    .ul li{
        max-width: 100%;
        height: auto;
        max-width: 1440px; 
        margin: 0 auto;
      }
  }



  @media (max-width: 576px) {
    ul {
        font-size: 12px;
    }
}
@media (max-width: 576px) {
    ul li {
        font-size: 12px;
    }
}


@media (min-width: 1200px){
    .sidenav {
    }
}

@media (min-width: 992px){
    .sidenav {
        max-width: 100%;
    }
}


@media (max-width: 780px){
    .sidenav {
        width: 10%;
        padding-right: 180px;
    }
}



@media (max-width: 480px){
    .sidenav {
        width: 10%;
        padding-right: 180px;
    }
}



@media (max-width: 320px){
    .sidenav {
        width: 10%;
        padding-right: 180px;
    }
}


 */
